$white : #fff;
$city-light:#dfe4ea;
$anti-flash-white:#f1f2f6;
$watermelon: #ff4757;
$wild-watermelon:#ff6b81;
$ufo-green:#2ed573;
$lime-soap:#7bed9f;
$prestige-blue:#2f3542;
$coral:#ff7f50;
$golden-sand:#eccc68;
$saturated-sky:#5352ed;
$bright-greek:#3742fa;
$rise-shine-yellow : #fbc531;
$bay-wharf:#747d8c;
$grisaille:#57606f
