@import './color.scss';

.discover_joke_topic {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: .25px;
    padding: 0px 16px;
    color: $rise-shine-yellow;
    text-align: center;
}