@import './color.scss';

.search_box_container {
    // max-width: 550px;
    width: 100%;
    // padding: 0px 20px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.search_box_content {
    width: 100%;
    background: $white;
    border: 1px solid rgba($color: $city-light, $alpha: .8);
    border-radius: 9px;
    padding: 30px;
    box-shadow: 2px 2px 3px 1px #fafafa;
}

.topic_name {
    font-family: Poppins;
    font-weight: 600;
    color: $rise-shine-yellow;
    letter-spacing: .25px;
    font-size: 14px;
    margin-bottom: 16px;
    padding: 0px 14px;
}

.category_card_group {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(120px,auto));
    grid-column-gap: 16px;
    grid-row-gap: 12px;
    width: 100%;
}

.category_card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    // text-align: center;
    word-break: break-word;
    border: 1px solid rgba($color: $city-light, $alpha: .8);
    border-radius: 50px;
    font-family: Poppins;
    font-size: 14px;
    letter-spacing: .25px;
    cursor: pointer;
    transition: background 0.3s ease 0s, transform 0.3s ease 0s;
    font-weight: 500;
    line-height: normal;
    user-select: none;
    animation: fade_in 0.3s ease-in 0s;

    &:last-of-type {
        margin-right: 0px;
    }

    &:hover {
        transform: scale(1.05);
        background: rgba($color: $city-light, $alpha: .3);
        border: 1px solid rgba($color: $city-light, $alpha: .3);
    }
}

@keyframes fade_in {
    from { opacity: 0; }
    to {opacity: 1;}
}

.selected_category_card {
    background: $rise-shine-yellow;
    border: 1px solid $rise-shine-yellow;
    &:hover {
        transform: scale(1) !important;
        background: $rise-shine-yellow !important;
    }
}

.separate_line {
    width: 100%;
    height: 1px;
    margin: 30px 0px;
    background: rgba($color: $city-light, $alpha: .8);
}

.name_container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(auto,420px));
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    justify-content: space-between;

    @media only screen and (max-width:971px) {
        grid-template-columns: 1fr;
        justify-content:flex-start;
    }
}

.name_input_field {
    width: 100%;
    border: 1px solid rgba($color: $city-light, $alpha: .8);
    border-radius: 50px;
    padding: 12px 16px;
    font-size: 14px;
    font-family: Roboto;

    &:focus {
        outline: none;
    }
}

.number_jokes_content {
   display: flex;
//    align-items: center;
   flex-direction: column;
}

.search_btn_group {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;

    button {
        width: 100%;
        height: 100%;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-size: 14px;
        letter-spacing: .25px;
        font-family: Poppins;
        font-weight: 600;
        transition: all 0.3s ease 0s;
        margin-right: 1.5rem;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            transform: scale(1.015);
        }
    }
}

.btn_search {
    background: $rise-shine-yellow;
}

.btn_clear {
    background: $city-light;
}

.category_skeleton {
    transform: scale(1) !important;
    width: 100% !important;
    height: 39px !important;
    background: rgba($color: $city-light, $alpha: .5) !important;
    // border-radius: 50px !important;
}

.error_field {
    border: 1px solid $watermelon;
    box-shadow: 0 0 0 4px rgba($color: $watermelon, $alpha: 0.1);
}

.error_word {
    padding: 10px 16px 0px;
    font-size: 12px;
    color: $watermelon;
    font-weight: 500;
}